body{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);

}
.login-box{
    color: white;
    background-color: rgba(59, 66, 136, 0.366);
    border-color: white;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 35px;
    box-shadow: 0 10px 30px black;
    width:25%;
    height: 80%;
    margin-top: 10px;
}
.login-form{
    padding-bottom: 0 ;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.input-box{
    margin-bottom: 10px;
    position: relative;
}
.input-box label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.input-box input{
    padding: 13px;
    width:95%;
    border-radius: 3px;
    border: none;
    margin-top: 5px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
     
}
.input-box select{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
}
.input-box input::placeholder{
    color:black;
    font-size: 15px;
    opacity: 70%;
}
.input-box input:hover{
    background-color: rgba(249, 249, 42, 0.933)
}
button{
    color: black;
    background-color: rgb(60, 188, 60);
    border-radius: 30px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 105%;
    padding:10px;
    text-align: center;
    margin-top: 10px;
    transition: 0.3s
}
.error{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    font-weight: none;
    text-align: center;
}
a{
    color:rgb(10, 218, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
button:hover{
    background-color: rgb(8, 145, 8);
    cursor: pointer;
    transform: scale(1.05);
}
